<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{user}}</h1>
    <form action="confirm_booking" method="POST" id="all_details" onsubmit="this.querySelectorAll('input').forEach(i => i.disabled = false)" >
       <label for="f_name">Flight Name</label> <input type="text" name="f_name" value={{f_name}} id="f_name" disabled> &nbsp; &nbsp;
       <label for="source">From</label> <input type="text" value={{source}}  name="source" id="source" disabled> &nbsp; &nbsp;
       <label for="destination">To</label> <input type="text" value={{destination}}  name="destination" id="destination" disabled> &nbsp; &nbsp; <br> <br>
       <label for="startDate">Departure-Date</label> <input type="text" value={{startDate}}  name="startDate" id="startDate" disabled> &nbsp; &nbsp;
       <label for="startTime">Departure-Time</label> <input type="text" value={{startTime}}  name="startTime" id="startTime" disabled> &nbsp; &nbsp;<br> <br>
       <label for="endDate">Arrival-Date</label> <input type="text" value={{endDate}}  name="endDate" id="endDate" disabled> &nbsp; &nbsp;
       <label for="endTime">Arrival-Time</label> <input type="text" value={{endTime}}  name="endTime" id="endTime" disabled> &nbsp; &nbsp; <br> <br>
       <label for="seats">Price</label> <input type="text" id="price" name="price" value={{Price}} disabled>
       <label for="seats">Seats u will Book</label> <input type="text" id="seats" name="seats" value={{seats}} disabled> <br> <br>

    </form>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../booking_script.js"></script>
</body>
</html>