<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portal</title>
</head>
<body>
    <h1>Hello {{user}}</h1>
    <h3>Book Flights</h3>
    <h3>See History</h3> <form action="user/history" method="POST"><input type="submit" value="History"></form>
    <form method="POST" action="/user/search">
        <label for="from">Source</label>
        <input type="text" name="source" id="from" placeholder="source" required>

        <label for="to">Destination</label>
        <input type="text" name="destination" id="to" placeholder="destination" required>

        <label for="date">Start Date</label>
        <input name="startDate" id="date" required placeholder="yyyy-mm-dd">

        <input type="submit" name="submit">
    </form>
    <br>

    <div id="f_description"> </div>

    <table id="table" cellspacing="10" border="1" cellpadding="10">
        {{#if flights}}
        <thead>
            <tr>
                <th>Name </th>
                <th>Source</th>
                <th>Destination</th>
                <th>Price</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>
                <th>Seats left</th>
                <th>Book Tickets</th>
            </tr>
        </thead>
        {{/if}}
        <tbody>
            {{#each flights as |item|}}
                <tr class = "book">
                    <td>{{item.flightName}}</td>
                    <td>{{item.source}}</td>
                    <td>{{item.destination}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.startDate}}</td>
                    <td>{{item.startTime}}</td>
                    <td>{{item.endDate}}</td>
                    <td>{{item.endTime}}</td>
                    <td>{{item.seats_left}}</td>
                    <td><button id="bookFlight">Buy Now</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <form action="/user/booking" method="POST" id="hide">
    <label for="obj">o</label> <input type="text" name="obj" id="obj">
    <input type="submit" id="click">
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="../user_script.js"></script>
</html>